<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.epam.gomel.homework.GirlTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testIsBoyFriendWillBuyNewShoes</td>
<td>girl </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>parameterAndFactory</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testGetMood</td>
<td>girl </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testIsBoyfriendRich</td>
<td>girl </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testIsSlimFriendBecameFat</td>
<td>girl </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testSpendBoyFriendMoney</td>
<td>girl </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeMethod</td>
<td>girl </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.epam.gomel.homework.BoyTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testIsRich</td>
<td>boy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testGetMood</td>
<td>boy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testIsPrettyGirlFriend</td>
<td>boy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testSpendSomeMoney</td>
<td>boy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testIsSummerMonth</td>
<td>boy </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeMethod</td>
<td>boy </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
