<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>boy</td><td>BoyTest.testIsRich()[pri:3, instance:com.epam.gomel.homework.BoyTest@b065c63]<br/>BoyTest.testSpendSomeMoney()[pri:5, instance:com.epam.gomel.homework.BoyTest@b065c63]<br/>BoyTest.testIsSummerMonth()[pri:4, instance:com.epam.gomel.homework.BoyTest@b065c63]<br/>BoyTest.testGetMood()[pri:1, instance:com.epam.gomel.homework.BoyTest@b065c63]<br/>BoyTest.testIsPrettyGirlFriend()[pri:2, instance:com.epam.gomel.homework.BoyTest@b065c63]<br/></td></tr>
<tr><td>girl</td><td>GirlTest.testGetMood()[pri:0, instance:com.epam.gomel.homework.GirlTest@61baa894]<br/>GirlTest.testIsBoyFriendWillBuyNewShoes()[pri:0, instance:com.epam.gomel.homework.GirlTest@61baa894]<br/>GirlTest.testIsBoyfriendRich()[pri:0, instance:com.epam.gomel.homework.GirlTest@61baa894]<br/>GirlTest.testIsSlimFriendBecameFat(com.epam.gomel.homework.Girl)[pri:0, instance:com.epam.gomel.homework.GirlTest@61baa894]<br/>GirlTest.testSpendBoyFriendMoney()[pri:0, instance:com.epam.gomel.homework.GirlTest@61baa894]<br/></td></tr>
</table>
