<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9772c4">  <td>18/12/16 12:08:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BoyTest.beforeMethod()[pri:0, instance:com.epam.gomel.homework.BoyTest@b065c63]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-2@1441307648</td>   <td></td> </tr>
<tr bgcolor="b0f6b2">  <td>18/12/16 12:08:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GirlTest.beforeMethod()[pri:0, instance:com.epam.gomel.homework.GirlTest@61baa894]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-1@2146137022</td>   <td>1639622804 </td> </tr>
<tr bgcolor="b0f6b2">  <td>18/12/16 12:08:44</td>   <td>143</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GirlTest.parameterAndFactory(java.lang.String)[pri:0, instance:com.epam.gomel.homework.GirlTest@61baa894]">parameterAndFactory</td> 
  <td>pool-1-thread-1@2146137022</td>   <td>1639622804 </td> </tr>
<tr bgcolor="9772c4">  <td>18/12/16 12:08:44</td>   <td>142</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.testGetMood()[pri:1, instance:com.epam.gomel.homework.BoyTest@b065c63]">testGetMood</td> 
  <td>pool-1-thread-2@1441307648</td>   <td></td> </tr>
<tr bgcolor="b0f6b2">  <td>18/12/16 12:08:44</td>   <td>163</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GirlTest.testGetMood()[pri:0, instance:com.epam.gomel.homework.GirlTest@61baa894]">testGetMood</td> 
  <td>pool-1-thread-1@2146137022</td>   <td>1639622804 </td> </tr>
<tr bgcolor="b0f6b2">  <td>18/12/16 12:08:44</td>   <td>248</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GirlTest.testIsBoyFriendWillBuyNewShoes()[pri:0, instance:com.epam.gomel.homework.GirlTest@61baa894]">testIsBoyFriendWillBuyNewShoes</td> 
  <td>pool-1-thread-1@2146137022</td>   <td>1639622804 </td> </tr>
<tr bgcolor="b0f6b2">  <td>18/12/16 12:08:44</td>   <td>248</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GirlTest.testIsBoyfriendRich()[pri:0, instance:com.epam.gomel.homework.GirlTest@61baa894]">testIsBoyfriendRich</td> 
  <td>pool-1-thread-1@2146137022</td>   <td>1639622804 </td> </tr>
<tr bgcolor="9772c4">  <td>18/12/16 12:08:44</td>   <td>215</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.testIsPrettyGirlFriend()[pri:2, instance:com.epam.gomel.homework.BoyTest@b065c63]">testIsPrettyGirlFriend</td> 
  <td>pool-1-thread-2@1441307648</td>   <td></td> </tr>
<tr bgcolor="9772c4">  <td>18/12/16 12:08:44</td>   <td>216</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.testIsRich()[pri:3, instance:com.epam.gomel.homework.BoyTest@b065c63]">testIsRich</td> 
  <td>pool-1-thread-2@1441307648</td>   <td></td> </tr>
<tr bgcolor="b0f6b2">  <td>18/12/16 12:08:44</td>   <td>251</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GirlTest.testIsSlimFriendBecameFat(com.epam.gomel.homework.Girl)[pri:0, instance:com.epam.gomel.homework.GirlTest@61baa894]">testIsSlimFriendBecameFat</td> 
  <td>pool-1-thread-1@2146137022</td>   <td>1639622804 </td> </tr>
<tr bgcolor="b0f6b2">  <td>18/12/16 12:08:44</td>   <td>252</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GirlTest.testIsSlimFriendBecameFat(com.epam.gomel.homework.Girl)[pri:0, instance:com.epam.gomel.homework.GirlTest@61baa894]">testIsSlimFriendBecameFat</td> 
  <td>pool-1-thread-1@2146137022</td>   <td>1639622804 </td> </tr>
<tr bgcolor="b0f6b2">  <td>18/12/16 12:08:44</td>   <td>252</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GirlTest.testIsSlimFriendBecameFat(com.epam.gomel.homework.Girl)[pri:0, instance:com.epam.gomel.homework.GirlTest@61baa894]">testIsSlimFriendBecameFat</td> 
  <td>pool-1-thread-1@2146137022</td>   <td>1639622804 </td> </tr>
<tr bgcolor="9772c4">  <td>18/12/16 12:08:44</td>   <td>216</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.testIsSummerMonth()[pri:4, instance:com.epam.gomel.homework.BoyTest@b065c63]">testIsSummerMonth</td> 
  <td>pool-1-thread-2@1441307648</td>   <td></td> </tr>
<tr bgcolor="b0f6b2">  <td>18/12/16 12:08:44</td>   <td>252</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GirlTest.testSpendBoyFriendMoney()[pri:0, instance:com.epam.gomel.homework.GirlTest@61baa894]">testSpendBoyFriendMoney</td> 
  <td>pool-1-thread-1@2146137022</td>   <td>1639622804 </td> </tr>
<tr bgcolor="9772c4">  <td>18/12/16 12:08:44</td>   <td>217</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.testSpendSomeMoney()[pri:5, instance:com.epam.gomel.homework.BoyTest@b065c63]">testSpendSomeMoney</td> 
  <td>pool-1-thread-2@1441307648</td>   <td></td> </tr>
</table>
